<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lar da Mariazinha</title>
  <link href="/output.css" rel="stylesheet" />
</head>

<body class="bg-gray-50">
  <nav class="bg-primary">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <button type="button"
            class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="/home" class="hover:bg-primaryHover p-1 rounded-md w-24"><img src="./resources/images/logo.png"
                alt="logo" class="w-20 object-scale-down"></a>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a href="/adote" class="bg-gray-200 text-primary rounded-md px-3 py-2 text-sm font-medium"
                aria-current="page">Adotar</a>

              <a href="/quem-somos"
                class="text-gray-200 hover:bg-primaryHover hover:text-white rounded-md px-3 py-2 text-sm font-medium">Quem
                somos</a>

              <a href="/como-adotar"
                class="text-gray-200 hover:bg-primaryHover hover:text-white rounded-md px-3 py-2 text-sm font-medium">Como
                adotar</a>

            </div>
          </div>
        </div>

  </nav>
  <div class="navbar">
    
  </div>

  <br>

  <div
    class="flex flex-wrap flex-row items-center justify-between content-center m-10 gap-5 max-w-7xl mx-10 px-10">

    <!-- <div class="flex flex-col items-center justify-center rounded-md bg-gray-200 w-52 p-10">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-xl font-bold text-center text-gray-700">Filtro</h1>
    </div>
  </div> -->

    <div class="flex flex-col items-center justify-center rounded-md bg-gray-200 max-w-6xl p-10 mx-auto w-full">
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-center text-gray-700">Adote um pet</h1>
        <p class="text-center text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        </p>
        <br class="">

        <div class="container max-w-6xl">
          <div class="">
            <div class="bg-gray-100">
              <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Pets</h2>

                <div class="mt-6 grid grid-cols-1 grid-rows-3 gap-x-6 gap-y-10 sm:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
                  
                  <div class="group relative">
                    <div
                      class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none lg:h-80">
                      <img src="./resources/images/salsicha.jpeg"
                        alt="Front of men&#039;s Basic Tee in black."
                        class="h-full w-full object-cover object-center lg:h-full lg:w-full hover:">
                    </div>
                    <div class="mt-4 flex justify-between">
                      <div>
                        <h3 class="text-sm text-gray-700">
                          <a href="#">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            Salsichinha
                          </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">3 anos e 7 meses</p>
                        <p class="mt-1 text-sm text-gray-500">Macho</p>
                        <p class="mt-1 text-sm text-gray-500">Salsicha</p>
                      </div>
                      <a class="bg-primary p-2 m-auto h-auto rounded-md hover:bg-primaryHover"><p class="text-sm font-medium text-gray-900 ">Adote</p></a>
                      
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</body>

</html>