<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body class="bg-gray-50">
  <%- include ('navbar'); %>

  <br>

  <div class="flex flex-wrap flex-row items-center justify-between content-center m-10 gap-5 max-w-7xl mx-10 px-10">

    <!-- <div class="flex flex-col items-center justify-center rounded-md bg-gray-200 w-52 p-10">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-xl font-bold text-center text-gray-700">Filtro</h1>
    </div>
  </div> -->

    <div class="flex flex-col items-center justify-center content-center rounded-md bg-gray-200 max-w-6xl p-10 mx-auto w-full">
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-center text-gray-700">Todo</h1>
        <p class="text-center text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        </p>
        <br class="">

        <div class="container max-w-6xl">
          <div class="">
            <div class="bg-gray-100">
              <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Todo</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>