<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body class="bg-gray-50">
  <%- include ('partials/navbar'); %>

  <br>

  <div class="flex flex-wrap flex-row items-center justify-center content-center mx-auto max-w-7xl">

    <!-- <div class="flex flex-col items-center justify-center rounded-md bg-gray-200 w-52 p-10">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-xl font-bold text-center text-gray-700">Filtro</h1>
    </div>
  </div> -->

    <div class="flex flex-col items-center justify-center rounded-md bg-gray-200 max-w-6xl p-10 mx-auto w-full">
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-center text-gray-700">Quem Somos</h1>

                <p class="m-4 text-gray-700 text-justify">
                  O Lar da Mariazinha é uma ONG que cuida de cachorros abandonados e que não tem mais donos. Nós cuidamos deles e os colocamos para adoção. Nós também fazemos campanhas de arrecadação de ração e medicamentos para os animais. Se você quiser ajudar, entre em contato conosco.
                </p>

        <br class="">

        <div class="container max-w-6xl">
          <div class="">
            <div class="bg-gray-100">
              <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
                

                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Nossa História</h2>

                <p class="m-4 text-gray-700 text-justify">
                  O Lar da Mariazinha foi fundado em 2019 pela Andriza Campanhol que se preocupava com os animais abandonados. Então ela decidiu criar uma ONG para cuidar dos animais.
                </p>

                <p class="m-4 text-gray-700 text-justify">
                  O nome da ONG foi inspirado na Mariazinha, uma cachorrinha que foi abandonada e que foi adotada pela Andriza. Ela cuidou muito bem da Mariazinha e a Mariazinha se tornou uma cachorrinha muito feliz.
                </p>

                <p class="m-4 text-gray-700 text-justify">
                  A Andriza decidiu criar a ONG em homenagem a Mariazinha.
                </p>

                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Nossa Missão</h2>

                <p class="m-4 text-gray-700 text-justify">
                  Nossa missão é cuidar dos animais abandonados e colocá-los para adoção.
                </p>

                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Nossa Visão</h2>

                <p class="m-4 text-gray-700 text-justify">
                  Nossa visão é que todos os animais abandonados sejam cuidados e tenham uma família que os ame.
                </p>

                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Nossos Valores</h2>

                <p class="m-4 text-gray-700 text-justify">
                  Nossos valores são: amor, respeito, responsabilidade e comprometimento.
                </p>

                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Nossos Objetivos</h2>

                <p class="m-4 text-gray-700 text-justify">
                  Nossos objetivos são: cuidar dos animais abandonados, colocá-los para adoção e fazer campanhas de arrecadação de ração e medicamentos.
                </p>

                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Nossos Colaboradores</h2>

                <p class="m-4 text-gray-700 text-justify">
                  Nossos colaboradores são: pessoas que queiram ajudar os animais. Se você quiser ser um colaborador, entre em contato conosco.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ('partials/footer'); %>
</body>

</html>